<app-fetching></app-fetching>

<article class="mw7 center ph3 ph5-ns tc br2 pv5 bg-washed-pink dark-pink mb5">
  <h1 class="fw6 f3 f2-ns lh-title mt0 mb3">
    Confirmed Cases and Deaths by Country, Territory, or Conveyance
  </h1>
  <h2 class="fw2 f4 lh-copy mt0 mb3">
    The coronavirus COVID-19 is affecting 210 countries and territories around
    the world and 2 international conveyances.
  </h2>
  <p class="fw1 f5 mt0 mb3">
    Learn more about the API Covid19.
  </p>
  <div>
    <a
      class="f6 br-pill dark-blue no-underline ba grow pv2 ph3 dib"
      href="https://covid19api.com/"
      target="_blank"
    >
      Go to covid19api.com
    </a>
  </div>
</article>
